<html>
  <head>
    <title>Flask Tutorial</title>
  </head>
  <body>
    <h1>This is the Index page</h1>

    <label
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
      for="file_input"
      >Upload file</label
    >
    <form method="post" action="/test_api" enctype="multipart/form-data">
      <input
        class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
        id="document"
        name="document"
        type="file"
      />
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
      >
        Button
      </button>
    </form>
  </body>
</html>
